.container-1 {
    min-width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.form-group-1 {
    margin-bottom: 20px;
}