
<div class="shop-front">
    <h2>Food Donation Shop</h2>
    {{#each foodItems}}
        <div class="food-item">
            <h3>{{name}}</h3>
            <p>Type: {{type}}</p>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="10">
            <label for="expiry">Expiry Date:</label>
            <input type="date" id="expiry" name="expiry">
            <button class="donate-button">Donate</button>
        </div>
    {{/each}}
</div>